@import url('https://fonts.googleapis.com/css2?family=lato&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.contentpanel {
	display: flex;
	height: 90vh;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 14px;
}
.leftSpacing{
  margin-left: 250px;
}
