@import url('https://fonts.googleapis.com/css2?family=lato&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.contentpanel {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 14px;
	margin-top: 120px;
	padding-left: 10px;
}
.leftSpacing {
	margin-left: 250px;
}
